@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

html {
  font-size: 62.5%;
  /* 1rem ＝ 10pxと全体のコードは変換する */
}

body {
  font-family: 'Roboto','M+ C Type-1 (basic latin) Regular','M+ Type-1 (general-j) Regular', sans-serif;
  /* RobotoとM＋フォントを利用 */
  color: #707070;
  overflow-x: hidden;
}

input {
  font-family: FontAwesome;
}

button {
  border: none;
  /* 枠線を消す */
  outline: none;
  /* クリックしたときに表示される枠線を消す */
}

/* PCはWidthが1200pxより大きい */
/* タブレットはWidthが1200pxより小さい */
/* スマホはWidthが700pxより小さい */
.l-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.l-header__top {
  height: 60px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF7EF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .l-header__top {
    /* ipad対応fronts page */
    height: 100px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.l-header__bottom {
  height: 60px;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2ede9;
}

@media (max-width: 1200px) {
  .l-header__bottom {
    /* ipad対応fronts page */
    background-color: #FFF7EF;
    height: 100px;
    width: 20vw;
    position: absolute;
    left: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-header__bottom.is-open {
    width: 40vw;
    left: 60%;
    position: fixed;
    z-index: 200;
    -webkit-transition: .6s;
    transition: .6s;
  }
}

.l-black.is-open {
  display: block;
  background-color: #707070;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 60px;
  z-index: 100;
  opacity: 0;
}

.l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.l-aside {
  width: 20vw;
  background-color: #f2ede9;
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .l-aside {
    /* ハンバーガーメニューの実装の為、基本的には隠す */
    position: absolute;
    left: 100%;
  }
  .l-aside.is-open {
    -webkit-transition: .6s;
    transition: .6s;
    left: 60%;
    height: 100%;
    width: 40vw;
    z-index: 200;
    /* 背景の灰色より前に出す */
    background-color: #FFF7EF;
    opacity: 1;
  }
}

.l-footer {
  background-color: #9d8670;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-footer.is-open {
  display: none;
}

.c-button {
  background-color: #f2ede9;
  border: 1px solid #707070;
  height: 18px;
  /* xdのサンプルから固定とし,h2の文字の高さに合わせた */
  width: 54px;
  /* xdのサンプルから固定としたHeightの3倍とした*/
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .c-hamburgermenu {
    display: none;
  }
}

.c-hamburgerbutton {
  font-size: 18px;
  color: #707070;
  position: relative;
  background-color: #FFF7EF;
  height: 50px;
  width: 50px;
}

@media (min-width: 1201px) {
  .c-hamburgerbutton {
    display: none;
  }
}

.c-hamburgerbutton.is-open {
  background-color: #FFF7EF;
  color: #FFF7EF;
}

.c-hamburgerbutton.is-open::before, .c-hamburgerbutton.is-open::after {
  content: "";
  width: 40px;
  height: 4px;
  background: #707070;
  position: absolute;
  top: 25px;
  left: 5px;
  display: block;
}

.c-hamburgerbutton.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburgerbutton.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .c-grayscreen.is-open {
    display: block;
    background-color: #707070;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 1;
  }
}

.c-window {
  background-color: white;
  border: 1px solid #707070;
  height: 18px;
  width: 20vw;
  border-radius: 5px;
}

.p-article {
  width: 80vw;
}

@media (max-width: 1200px) {
  .p-article {
    width: 100vw;
  }
}

.p-article__top {
  height: 300px;
  background-image: url(/img/front-top.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-article__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 40px;
  /* スマホ画面はパディングリセット */
}

@media (max-width: 699px) {
  .p-article__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.p-article__wrap1 {
  height: 640px;
  width: 32vw;
  background-image: url(/img/front-takeout.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .p-article__wrap1 {
    width: 40vw;
  }
}

@media (max-width: 699px) {
  .p-article__wrap1 {
    width: 80vw;
    margin: 10px 0px;
  }
}

.p-article__wrap1 > h2 {
  margin: 20px 10px;
  color: white;
  font-size: 30px;
  position: relative;
}

.p-article__wrap1 > h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 20px;
  height: 1px;
  background-color: white;
}

.p-article__wrap2 {
  height: 640px;
  width: 32vw;
  background-image: url(/img/front-eat-in.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .p-article__wrap2 {
    width: 40vw;
  }
}

@media (max-width: 699px) {
  .p-article__wrap2 {
    width: 80vw;
    margin: 10px 0px;
  }
}

.p-article__wrap2 > h2 {
  margin: 20px 10px;
  color: white;
  font-size: 30px;
  position: relative;
}

.p-article__wrap2 > h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 20px;
  height: 1px;
  background-color: white;
}

.p-article__box {
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  margin: 10px;
  padding: 10px;
}

.p-article__box > h3 {
  margin: 5px 0;
}

.p-article__bottom {
  background-image: url(/img/front-map.png);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.p-article__black__boxs {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 699px) {
  .p-article__black__boxs {
    height: 640px;
  }
}

.p-article__black__box {
  color: white;
  height: 330px;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
}

@media (max-width: 1200px) {
  .p-article__black__box {
    width: 100vw;
  }
}

.p-article__black__box > h3 {
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 1200px) {
  .p-article__black__box > h3 {
    font-size: 24px;
  }
}

.p-article__black__box > h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 20px;
  height: 1px;
  background-color: white;
}

@media (max-width: 1200px) {
  .p-article__black__box > h3:before {
    bottom: -50%;
  }
}

@media (max-width: 1200px) {
  .p-article__black__box > p {
    line-height: 3rem;
  }
}

@media (max-width: 699px) {
  .p-article__black__box > p {
    line-height: 1.5rem;
  }
}

.p-aside__main {
  list-style: none;
  height: 1390px;
}

.p-aside__sub {
  list-style: none;
  line-height: 30px;
  padding: 10px;
}

.p-footer {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .p-footer {
    font-size: 16px;
    height: 100px;
  }
}

.u-margin__left__right {
  margin: 0 20px;
}

.u-padding__left__right {
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .u-padding__left__right {
    padding: 10px 20px;
  }
}
/*# sourceMappingURL=hambuger.css.map */