// 検索のボタン
.c-button {  
  background-color:#f2ede9;
  border: 1px solid #707070;
  height: 18px;  /* xdのサンプルから固定とし,h2の文字の高さに合わせた */
  width: 54px;   /* xdのサンプルから固定としたHeightの3倍とした*/
  border-radius: 5px;
}

// Manuという表示（ボタンではないが、同じ名前の「Menu」というボタンがあるためComponentにおく
.c-hamburgermenu {
  @include tablet {
    display: none;
  }

}
// Manuを表示させるためのボタン
.c-hamburgerbutton {
  @include pc {
    display: none;
  }
  font-size: 18px;  
  color: red; 
  position: relative; 

  &.is_open::before, &.is_open::after {
    content   : "";
		width     : 30px;
		height    : 1px;
		background:red;
		position  : absolute;
		left      : calc( 50% - ( 60px / 2 ) );
		display   : block;
    transition: transform 0.2s;
  }
   
  &.is_open::before

}