.p-article {
  width: 80vw;
  
  // iPad対応 frontpage
   @include tablet {
   width: 100vw;
  }
   
    &__top {
      height: 300px;
      @include background(url(/img/front-top.png))  ;
      color: white;
      display: flex;
      align-items: center;
    }

    &__middle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 40px;
    
    }

    &__wrap1 {
      @include front-page__wrap(url(/img/front-takeout.png));
      margin-right: 20px;
      // iPad対応 front page
      @include tablet {
       width: 40vw;
       }


      > h2 {
        margin: 20px 10px;
        color: white;
        font-size: 30px;
        position: relative;
      }

      >h2:before {
        @include white-line(-50%) ;
      }
      
    }
    
    &__wrap2 {
      @include front-page__wrap(url(/img/front-eat-in.png));
      margin-left: 20px;
      // iPad対応 frontpage
      @include tablet {
        width: 40vw;
        }

      >h2 {
        margin: 20px 10px;
        color: white;
        font-size: 30px;
        position: relative;
      }

      >h2:before {
        @include white-line(-50%);
      }


    }

    &__box {
      background-color:rgba(255,255,255,0.8);
      background-blend-mode:lighten;
      margin: 10px;
      padding: 10px;
      >h3 {
        margin: 5px 0;
      }
    }

    &__bottom {
      @include background(url(/img/front-map.png))  ;
      z-index: 1;
    }

    &__black__boxs {
      background-color:rgba(0, 0, 0, 0.4);
    }

    &__black__box {
      color: white;
      height: 330px;
      width: 50vw;
      background-color:rgba(0, 0, 0, 0.6);
      padding: 40px ;
      // iPad対応 frontpage
      @include tablet {
        width: 100vw;
      }
      

      >h3 {
        margin-bottom: 40px;
        position: relative;
         // iPad対応 frontpage
        @include tablet {
        font-size: 24px;
        }
      }

      >h3:before{
        @include white-line(-100%) ;
        // iPad対応 frontpage
        @include tablet {
        bottom: -50%;
       }
      }

       // iPad対応 frontpage
      @include tablet{
      >p { line-height: 3rem;

      }

      }

    }
}

.p-aside {
    &__main {
      list-style: none;
      height: 1390px;
    }

    &__sub {
      list-style: none;
      line-height: 30px;
      padding:  10px;
    }
}