.l-header {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

    &__top {
      height: 60px;
      width: 80vw; //headerの80%
      display: flex;
      justify-content: space-between;
      background-color: #FFF7EF;
      align-items: center;

      @include tablet {
         height: 100px;
         width: 100vw;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;

      }
    }

    &__bottom {
      height: 60px;
      width: 20vw; //headerの20%
      display: flex;
      align-items: center;
      background-color: #f2ede9;

      @include tablet {
        background-color:#FFF7EF;
        height: 100px;
        width: 20vw;
        position: absolute;
        left: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

      }
      
    }
    
}
