.l-header {
  height: 60px;
  width: 100vw;
  background-color:#FFF7EF;
  display: flex;
  align-items: center;

    &__top {
     
      width: 80vw; //headerの80%
      display: flex;
      justify-content: space-between;
      background-color: #FFF7EF;
      align-items: center;
      
    }
    &__bottom {
      height: 60px;
      width: 20vw; //headerの20%
      display: flex;
      align-items: center;
      background-color: #f2ede9;
      
    }
    
}